<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Insurance Predictor</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

  <!-- Background image div -->
  <div class="bg"></div>

  <nav>
    <a href="{{ url_for('index') }}">Home</a>
    <a href="{{ url_for('form') }}">Predict</a>
    <a href="{{ url_for('about') }}">About</a>
  </nav>

  <div class="container">
    {% block content %}{% endblock %}
  </div>

</body>
</html>
